
<span style="font-size:6px"><br></span>
  </div>
  </td>
  <td width="1" bgcolor="CCCCCC"></td>
  <td width="579" valign="top">
  <span style="font-size:6px"><br></span>
<div align="left" style="padding: 0 0 0 10">
<h2>New Subject:</h2>
<form class="add-form" action="/adddb" method="POST">
    <label class="labelform">Title:</label></br>
    <input type="text" size="60" class="title-form" name="title"></br>
    <label class="labelform">Description:</label></br>
    <textarea name="description" rows="25" cols="60"></textarea><br/>
    <button type="submit" class="button-form">Go!</button>
</form>
</div>
