
<span style="font-size:6px"><br></span>
  </div>
  </td>
  <td width="1" bgcolor="CCCCCC"></td>
  <td width="579" valign="top">
  <span style="font-size:6px"><br></span>
<div align="center" style="padding: 0 0 0 10">
<form class="add-form" action="/login" method="POST">
    <label class="labelform">User:</label></br>
    <input type="text" size="20" class="title-form" name="user"></br>
    <label class="labelform">Password:</label></br>
    <input type="text" size="20" class="title-form" name="password"></br>
    <button type="submit" class="button-form">OK</button>
</form>
</div>
